:root{
    --backgroundColour: #1c5550;
    --borderRadius: 4px;
    --headerFontSize: 24px;
    --headerFontColour: #dfd9d9;
    --AsoideFontSize: 14px;
    --asideFontColour: #91b599;
    --asideBackgroundColour: #00000033;
    --asideActiveFontColour: #c3b97f;
    --paragraph1FontSize-18: 18px;
    --paragraph2FontSize-16: 16px;
    --weight-400: 400;
    --weight-700: 700;
    --pitch_black: #000000;
    --line-height-24: 24px;
    --line-height-22: 22px;
    --font-inter: "Inter", serif;
}

